<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise Index</title>
  <link href="https://fonts.cdnfonts.com/css/gold-lines-serif-trial" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <img style="width: 250px; height: 250px" src="/logo.png">

  </header>
  <nav>
    <a href="/">Home</a>

    <a href="/about">About </a>

    <a href="/contact">Contact</a>

    <a href="/printables">Printables</a>
    <!-- If the user is logged in, show a logout button -->
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    
    <div class="muscleGroup">
      {{{body}}}
      
    </div>
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

<style>
@import url('https://fonts.cdnfonts.com/css/gold-lines-serif-trial');
</style>  
                
      
</body>

</html>