<img style="height: 300px" src="/NYM.png">
<img src="/about.png">
<div class="about">
<p> Introducing </p>
<h1>Bezy Body Fitness</h1> 
<p>an all-inclusive exercise resource created specifically for fitness enthusiasts seeking straightforward yet impactful exercises that target specific muscle groups. Our user-friendly website provides a wide range of moves, accompanied by comprehensive details including a difficulty rating, visual demonstration, and written description. To assist you further, we offer printable trackers and calendars, enabling you to effortlessly log your workouts and plan for future sessions. Rest assured, we prioritize authenticity and transparency—no gimmicks, peculiar equipment, or empty promises. Furthermore, we are not here to sell you anything; our sole intention is to provide you with valuable resources that elevate your fitness journey. Explore our libraries and embrace the joy of leveling up your fitness regimen.</p>
</div>
<img src="/about2.png">