<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<section class="container">
  <h1 class="flex-row justify-center">Contact Us!</h1>
  <h2 class="flex-row justify-center">Creators</h2>

  <div class="contact-container">
    <div class="contact-box">
      <h3>Yasmeen Nguyen</h3>
      <a href="https://www.linkedin.com/in/yasmeen-nguyen-67a789272"><i
          class="bx bxl-linkedin-square"
        ></i></a>
      <a href="https://github.com/Yasmeeeenn"><i class="bx bxl-github"></i></a>
    </div>

    <div class="contact-box">
      <h3>Brooke Jones</h3>
      <a
        href="https://www.linkedin.com/in/brooke-adlesperger-jones-893a9b26b"
      ><i class="bx bxl-linkedin-square"></i></a>
      <a href="https://github.com/BAJones22"><i class="bx bxl-github"></i></a>
    </div>

    <div class="contact-box">
      <h3>Ethan D</h3>
      <a href="https://www.linkedin.com/in/ethan-del-biaggio-96a0b426a/"><i
          class="bx bxl-linkedin-square"
        ></i></a>
      <a href="https://github.com/Delby3"><i class="bx bxl-github"></i></a>
    </div>

    <div class="contact-box">
      <h3>Zac Wheeler</h3>
      <a href="https://www.linkedin.com/in/zac-wheeler-76335b180"><i
          class="bx bxl-linkedin-square"
        ></i></a>
      <a href="https://github.com/ZacWheeler3"><i class="bx bxl-github"></i></a>
    </div>
  </div>

</section>