<div id="contact">
<img style="height: 700px" src="/meet-us.png">
<img style="width: 185px" src="/creators.png">

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Form</title>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <form action="">
      <div class="title">
        <h2>CONTACT</h2>
      </div>
      <div class="half">
        <div class="item">
          <label for="name">NAME</label>
          <input type="text" id = "name">
        </div>
        <div class="item">
          <label for="email">EMAIL</label>
          <input type="text" id = "email">
        </div>
      </div>
      <div class="full">
        <label for="message">MESSAGE</label>
        <textarea name="" id = "message"></textarea>
      </div>
      <div class="action">
        <input type="submit" value = "SEND MESSAGE">
        <input type="reset" value = "RESET">
      </div>
      <div class="icons">
        <p>Brooke Adlesperger-Jones: 
        <a href="https://www.linkedin.com/in/brooke-adlesperger-jones-893a9b26b/" class = "fa fa-linkedin"></a>
        <a href="https://github.com/BAJones22" class = "fa fa-github"></a></p>
        <p>Ethan D
        <a href="https://www.linkedin.com/in/ethan-del-biaggio-96a0b426a/" class = "fa fa-linkedin"></a>
        <a href="https://github.com/Delby3" class = "fa fa-github"></a></p>
        <p>Zac Wheeler 
        <a href="https://www.linkedin.com/in/zac-wheeler-76335b180/" class = "fa fa-linkedin"></a>
        <a href="https://github.com/ZacWheeler3" class = "fa fa-github"></a></p>
        <p>Yasmeen Nguyen
        <a href="https://www.linkedin.com/in/yasmeen-nguyen-67a789272/" class = "fa fa-linkedin"></a>
        <a href="https://github.com/Yasmeeeenn" class = "fa fa-github"></a></p>
      </div>
    </form>
  </body>
</html>