<div id="printables">
<p>
    Feel free to make use of these printable trackers and planners as you embark on your fitness journey! Just click on the image to access the downloadable PDF format and enjoy!
</p>
<a href="exercise-tracker.pdf">
  <img style="height: 500px" src="exercise-tracker.jpg">
</a>
<a href="workout-plan3.pdf">
  <img style="height: 500px" src="workout-plan3.jpg">
</a>
<a href="workout-plan2.pdf">
  <img style="height: 500px" src="workout-plan2.png">
</a>
<a href="75-hard.pdf">
  <img style="height: 500px" src="75-hard.jpg">
</a>
<a href="exercise-tracker2.pdf">
  <img style="height: 500px" src="exercise-tracker2.jpg">
</a>
<a href="goals.pdf">
  <img style="height: 500px" src="goals.jpg">
</a>
<a href="monthly-tracker.pdf">
  <img style="height: 500px" src="monthly-tracker.jpg">
</a>
<a href="workout-plan.pdf">
  <img style="height: 500px" src="workout-plan.png">
</a>

</div>