:root {
  --primary: #041822;
  --secondary: #e3c49e;
  --tertiary: #07084100;
  --quatrinary: #989898;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: "Gold Lines Serif Trial", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  text-decoration: none;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  color: var(--quatrinary);
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
  text-decoration: none;
}

#muscle-group {
  height: 400px;
  width: 323px;
}

.muscleGroup {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.exercise {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.exercise-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card {
  text-decoration: none;
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--dark);
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.about p {
  font-size: 23px;
  color: rgb(37, 37, 37)
}

.about h1 {
  color: var(--secondary);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}

#muscle-group {
  height: 400px;
  width: 323px;
}

.muscleGroup-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 7vw;
  color: white;
  -webkit-text-stroke: 0.3vw #577a7c;
  width: 0;
  height: 100%;
  overflow: hidden;
  animation: animate 6s linear infinite;
  border-right: 1px solid rgb(0, 0, 0);
}

#printables {
  margin: 20px;
  flex: 0 1 800px;
  text-align: center;
}

#contact {
  margin: 5px;
  flex: 0 1 800px;
  text-align: center;
  padding: 5px;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  80% {
    width: 100%;
  }
}
